header {
  width: 100%;
  display: flex;
  background-color: white;
  justify-content: center;
  box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.111);
  position: sticky;
  top: 0px;
}
header section {
  width: 85%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cartBtn {
  position: relative;
  height: 30px;
  width: 30px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
}
.cartCount {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  font-size: 15px;
  font-weight: 100;
  background-color:#04b4ff;
  color: white;
  position: absolute;
  top: -15px;
  right: -15px;
}
